.destination_text {
    color: rgb(19, 4, 87);
    margin-top: 20px;
}
.destination_info p , .row{
    color: black;
}



.pick_btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 180px;
    cursor: pointer;
    border-radius: 8px;
    width:150px;
}

.pick_btn:hover {background-color: #3e8e41}

.pick_btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.thumb img {
    height:150px;
    width:200px;
}

.popular_places_areas{
    margin-bottom: 20px;
}
