{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title> User Account </title>
   <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/booking_bootstrap.min.css' %}"> -->

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'css/bookingstyle.css' %}" />


</head>

<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<div class="form-header">
							<h3>Hi {{user.username}}</h3>
                        </div>
						<form class="form-detail">
                            {% csrf_token %}
                       
                            <table id="t01">
                                <tr>
                                  <td> Name :</td>
                                  <td> Mr. {{user.first_name}} {{user.last_name}} </td>
                                </tr>
                                <tr>
                                    <td> Email :</td>
                                    <td> {{user.email}}</td>
                                </tr>
                                <tr>
                                    <td> Your recent picks :</td>
                                    <td> </td>
                                  </tr>
                            </table>
                        </form>
                        
					</div>
				</div>
			</div>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>